---
layout: default
---

.row
  .large-4.columns.large-centered
    .iphone-preview

.section
  .row
    .large-6.columns
      .info.push-down
        %h4
          Inline
          %span Highlighting
        .content
          %p
            TXTBox
            %span.highlight highlights
            your text as you type.
            Links, tags, code and much more.
          %p Not enough?  We've also got built in markdown preview.
        %h4 Sharing
        .content
          %p Sharing notes has never been easer.  Email, Messages, Web & many more.
    .large-6.columns
      .iphone-wrapper
        %img{src: 'images/iphone-inline-welcome.png'}

.row
  .large-4.large-centered.columns
    %a{href: 'http://taps.io/TXTBox'}
      .download-button.clearfix
        .text.link Download on the
        .text.store App Store


