!!!
%html
  %head
    %title TXTBox for iOS
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{name: 'description', content: 'Your stupid simple note taking app for iOS'}
    %meta{name: 'keywords', content: 'notes, iOS, app, notetaking, markdown'}
    %link{href: '//fonts.googleapis.com/css?family=Montserrat:400,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'foundation/css/foundation.min.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: "css/main.css", rel: 'stylesheet', type: 'text/css'}

  %body
    %header
      %img.icon{src: 'images/iTunesArtwork.png'}
      .tagline
        Your
        %span Stupid
        Simple Notes App
    .content= "{{ content }}"

    %footer
      .copy
        &copy; 2014
        %a{href: 'http://openskydev.com'} OpenSky, LLC

  %script{src: 'js/jquery.2.1.0.min.js'}
  %script{src: 'foundation/js/foundation.min.js'}
  %script{src: 'js/main.js'}
  :javascript
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '53150268e32bb449a3001b88');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5809821-8', 'txtbox.co');
    ga('send', 'pageview');
